@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto" , sans-serif;
}

.nav { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.nav__logo--img {
    width: 50px;
    height: 50px;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

